@model HelperMethods.Models.Person

@{
    ViewBag.Title = "CreatePerson";
    Layout = "/Views/Shared/_Layout.cshtml";
    Html.EnableClientValidation(false);
}

<h2>CreatePerson: @Html.LabelForModel()</h2>

@*@using (Html.BeginForm("CreatePerson", "Home", new { id = "MyIdValue" }, FormMethod.Post, new { @class = "personClass", data_formType = "person" }))*@
@using(Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post, new { @class = "personClass", data_formType = "person" }))
{
    <div class="column">
        @Html.EditorForModel()
    </div>
    <div class="column">
        @Html.EditorFor(m => m.HomeAddress)
    </div>

    @*<div class="dataElem">
        <label>PersonId</label>
        @*<input name="personId" value="@Model.PersonId" />*@
        @*@Html.TextBox("personId", Model.PersonId)*@
        @*@Html.TextBoxFor(x => x.PersonId)
        @Html.Editor("PersonId")
    </div>
    <div class="dataElem">
        <label>First Name</label>
        @*<input name="FirstName" value="@Model.FirstName" />*@
        @*@Html.TextBox("firstName", Model.FirstName)*@
        @*@Html.TextBoxFor(x => x.FirstName)
        @Html.Editor("FirstName")
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        @*<input name="LastName" value="@Model.LastName" />*@
        @*@Html.TextBox("lastName", Model.LastName)*@
        @*@Html.TextBoxFor(x => x.LastName)
        @Html.EditorFor(m => m.LastName)
    </div>
    <div class="dataElem">
        <label>Role</label>
        @Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetNames(typeof(HelperMethods.Models.Role))))
        @Html.EditorFor(m => m.Role)
    </div>
    <div class="dataElem">
        <label>Birth Date</label>
        @Html.EditorFor(m => m.BirthDate)
    </div>*@
    <input type="submit" value="Submit" />
}